/*
  HEADER
*/
.user {
  display: none;
  text-align: right;
  color: white;
  padding: 3px;
  padding-left: 10px;
  padding-right: 7px;
}

.user a {
  color: white;
}

.user-buttons {
  display: none;
}

.user-buttons a:hover:not(.active) {
  background-color: rgba(0, 0, 0, 0.20);
}
.user-buttons a.active {
  background-color: rgba(0, 0, 0, 0.30);
}

.user-buttons a.primary.active {
  background-color: #316922;
}
.user-buttons a.primary:hover:not(.active) {
  background-color: #478536;
}
.user-buttons a.primary {
  background-color: #5d994b;
}

nav, section {
  padding-left: 10px;
  padding-right: 10px;
}

nav.bugerable {
  flex-grow: 1;
  display: none;
  padding: 5px;

  width: 100%;
  flex-flow: column;
}

.burger-open nav.bugerable {
  display: inherit;
}

header .logo a {
  text-decoration: none;
}

h1 {
  margin-top: 0;
}
h2 {
  font-weight: 100;
}

header {
  border-bottom: 10px solid #236e6e;
}

header > div {
  display: flex;
  padding: 10px 0;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 0 auto;
  flex-wrap: wrap;
  align-items: center;
}
nav a.active {
  background-color: #236e6e;
  color: white;
  font-weight: bold;
}
nav a:hover:not(.active) {
  background-color: rgba(0,0,0, 0.05);
}
nav a,
.user-buttons a {
  display: inline-block;
  background-color: rgba(255,255,255, 0.05);
  padding: 6px 10px 6px 10px;
  border-radius: 5px;
  color: #082b2b;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  margin-right: 5px;
  margin-bottom: 5px;
}

.header-brand {
  display: flex;
  flex-grow: 1;
  min-height: 45px;
  align-items: center;
  margin-right: 20px;
}

.header-brand a {
  display: flex;
  place-items: center;
  color: #082b2b;
  font-size: 35px;
  text-decoration: none;
  font-weight: bold;
}

header img.logo-icon {
  width: 100px;
  margin-top: -10px;
  margin-right: 10px;
}

.header-burger {
  cursor: pointer;
  fill: black;
  margin-right: 20px;
}

@media (min-width: 600px) {
  nav.bugerable {
    display: initial;
    width: auto;
  }

  nav a,
  .user-buttons a {
    margin-bottom: 0;
  }

  .user {
    display: initial;
  }

  .user-buttons {
    display: initial;
  }

  .header-burger {
    display: none;
  }

  .header-brand {
    flex-grow: 0;
  }
}